.JobCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.JobList-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JobCard {
    display: flex;
    flex-direction: column;
    border: 1px solid  black;
    margin: 30px 100px;
    background-color: rgb(224, 241, 192);
    width: 400px;
    
}

.JobCard-companyname {
    font-size: 18px;
}