.navbar {
    display: flex;
    flex-direction: column;
    background-color:rgba(136, 212, 223, 0.87);
    color: rgb(28, 43, 43);
    font-weight: bold;
    text-align: right;
    height: 70px;
    justify-content: center;
   
}

a {
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}


