.SearchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SearchForm-form {
  width: 500px;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.SearchForm-submit {
    background-color: rgb(225, 248, 183);
    border-radius: 4px;
    height: 40px;
}
