.SignupForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  margin: 50px;
}

.SignupForm-title {
  color: rgb(225, 248, 183);
}

.SignupForm-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.SignupForm-submit {
  background-color: rgb(225, 248, 183);
  border-radius: 4px;
  height: 40px;
}

.SignupForm-error {
  color: rgb(225, 248, 183);
}
